body {
  background-color: #333;
  margin: 0;
  padding-top: 15%;
  color: #ddd;
}
.hidden{
  display: none;
}
p {
  font-family: monospace;
  color: inherit;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
form{
  text-align: center;
}
input[type=text]{
  margin: 2em 0;
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: 2em;
  border-bottom: 2px solid #eee;
  padding-bottom: 3px;
  font-family: monospace;
  text-align: center;
}

